---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/beck03076
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1480008275'
      Etag:
      - W/"eaa5ce710ec2ade4e96f63f25f6c5959"
      Last-Modified:
      - Wed, 23 Nov 2016 09:26:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"beck03076","id":4824665,"avatar_url":"https://avatars.githubusercontent.com/u/4824665?v=3","gravatar_id":"","url":"https://api.github.com/users/beck03076","html_url":"https://github.com/beck03076","followers_url":"https://api.github.com/users/beck03076/followers","following_url":"https://api.github.com/users/beck03076/following{/other_user}","gists_url":"https://api.github.com/users/beck03076/gists{/gist_id}","starred_url":"https://api.github.com/users/beck03076/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/beck03076/subscriptions","organizations_url":"https://api.github.com/users/beck03076/orgs","repos_url":"https://api.github.com/users/beck03076/repos","events_url":"https://api.github.com/users/beck03076/events{/privacy}","received_events_url":"https://api.github.com/users/beck03076/received_events","type":"User","site_admin":false,"name":"senthil
        kumar muthamizhan","company":null,"blog":"http://becksresume.com/","location":null,"email":null,"hireable":null,"bio":"Creativity
        lover, entrepreneur, unconventional, unorthodox, seeker of souls, extreme
        fondness for poetry, oratory and programming. Passionate and resilient lead","public_repos":18,"public_gists":62,"followers":0,"following":3,"created_at":"2013-06-25T21:16:43Z","updated_at":"2016-11-23T09:26:42Z"}'
  recorded_at: Thu, 24 Nov 2016 16:30:16 GMT
recorded_with: VCR 3.0.3
