---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/beck03076
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1480008275'
      Etag:
      - W/"eaa5ce710ec2ade4e96f63f25f6c5959"
      Last-Modified:
      - Wed, 23 Nov 2016 09:26:42 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"beck03076","id":4824665,"avatar_url":"https://avatars.githubusercontent.com/u/4824665?v=3","gravatar_id":"","url":"https://api.github.com/users/beck03076","html_url":"https://github.com/beck03076","followers_url":"https://api.github.com/users/beck03076/followers","following_url":"https://api.github.com/users/beck03076/following{/other_user}","gists_url":"https://api.github.com/users/beck03076/gists{/gist_id}","starred_url":"https://api.github.com/users/beck03076/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/beck03076/subscriptions","organizations_url":"https://api.github.com/users/beck03076/orgs","repos_url":"https://api.github.com/users/beck03076/repos","events_url":"https://api.github.com/users/beck03076/events{/privacy}","received_events_url":"https://api.github.com/users/beck03076/received_events","type":"User","site_admin":false,"name":"senthil
        kumar muthamizhan","company":null,"blog":"http://becksresume.com/","location":null,"email":null,"hireable":null,"bio":"Creativity
        lover, entrepreneur, unconventional, unorthodox, seeker of souls, extreme
        fondness for poetry, oratory and programming. Passionate and resilient lead","public_repos":18,"public_gists":62,"followers":0,"following":3,"created_at":"2013-06-25T21:16:43Z","updated_at":"2016-11-23T09:26:42Z"}'
  recorded_at: Thu, 24 Nov 2016 16:31:15 GMT
- request:
    method: get
    uri: https://api.github.com/users/beck03076/repos?per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1480008275'
      Etag:
      - W/"6ac4babae14273fbb19efb8e76aecb82"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4824665/repos?per_page=10&page=2>; rel="next",
        <https://api.github.com/user/4824665/repos?per_page=10&page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":51922943,"name":".vimrc","full_name":"beck03076/.vimrc","owner":{"login":"beck03076","id":4824665,"avatar_url":"https://avatars.githubusercontent.com/u/4824665?v=3","gravatar_id":"","url":"https://api.github.com/users/beck03076","html_url":"https://github.com/beck03076","followers_url":"https://api.github.com/users/beck03076/followers","following_url":"https://api.github.com/users/beck03076/following{/other_user}","gists_url":"https://api.github.com/users/beck03076/gists{/gist_id}","starred_url":"https://api.github.com/users/beck03076/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/beck03076/subscriptions","organizations_url":"https://api.github.com/users/beck03076/orgs","repos_url":"https://api.github.com/users/beck03076/repos","events_url":"https://api.github.com/users/beck03076/events{/privacy}","received_events_url":"https://api.github.com/users/beck03076/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/beck03076/.vimrc","description":"my
        vimrc","fork":false,"url":"https://api.github.com/repos/beck03076/.vimrc","forks_url":"https://api.github.com/repos/beck03076/.vimrc/forks","keys_url":"https://api.github.com/repos/beck03076/.vimrc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/beck03076/.vimrc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/beck03076/.vimrc/teams","hooks_url":"https://api.github.com/repos/beck03076/.vimrc/hooks","issue_events_url":"https://api.github.com/repos/beck03076/.vimrc/issues/events{/number}","events_url":"https://api.github.com/repos/beck03076/.vimrc/events","assignees_url":"https://api.github.com/repos/beck03076/.vimrc/assignees{/user}","branches_url":"https://api.github.com/repos/beck03076/.vimrc/branches{/branch}","tags_url":"https://api.github.com/repos/beck03076/.vimrc/tags","blobs_url":"https://api.github.com/repos/beck03076/.vimrc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/beck03076/.vimrc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/beck03076/.vimrc/git/refs{/sha}","trees_url":"https://api.github.com/repos/beck03076/.vimrc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/beck03076/.vimrc/statuses/{sha}","languages_url":"https://api.github.com/repos/beck03076/.vimrc/languages","stargazers_url":"https://api.github.com/repos/beck03076/.vimrc/stargazers","contributors_url":"https://api.github.com/repos/beck03076/.vimrc/contributors","subscribers_url":"https://api.github.com/repos/beck03076/.vimrc/subscribers","subscription_url":"https://api.github.com/repos/beck03076/.vimrc/subscription","commits_url":"https://api.github.com/repos/beck03076/.vimrc/commits{/sha}","git_commits_url":"https://api.github.com/repos/beck03076/.vimrc/git/commits{/sha}","comments_url":"https://api.github.com/repos/beck03076/.vimrc/comments{/number}","issue_comment_url":"https://api.github.com/repos/beck03076/.vimrc/issues/comments{/number}","contents_url":"https://api.github.com/repos/beck03076/.vimrc/contents/{+path}","compare_url":"https://api.github.com/repos/beck03076/.vimrc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/beck03076/.vimrc/merges","archive_url":"https://api.github.com/repos/beck03076/.vimrc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/beck03076/.vimrc/downloads","issues_url":"https://api.github.com/repos/beck03076/.vimrc/issues{/number}","pulls_url":"https://api.github.com/repos/beck03076/.vimrc/pulls{/number}","milestones_url":"https://api.github.com/repos/beck03076/.vimrc/milestones{/number}","notifications_url":"https://api.github.com/repos/beck03076/.vimrc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/beck03076/.vimrc/labels{/name}","releases_url":"https://api.github.com/repos/beck03076/.vimrc/releases{/id}","deployments_url":"https://api.github.com/repos/beck03076/.vimrc/deployments","created_at":"2016-02-17T13:03:31Z","updated_at":"2016-02-17T13:05:56Z","pushed_at":"2016-02-17T13:05:55Z","git_url":"git://github.com/beck03076/.vimrc.git","ssh_url":"git@github.com:beck03076/.vimrc.git","clone_url":"https://github.com/beck03076/.vimrc.git","svn_url":"https://github.com/beck03076/.vimrc","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":"VimL","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":22376784,"name":"batch_processing","full_name":"beck03076/batch_processing","owner":{"login":"beck03076","id":4824665,"avatar_url":"https://avatars.githubusercontent.com/u/4824665?v=3","gravatar_id":"","url":"https://api.github.com/users/beck03076","html_url":"https://github.com/beck03076","followers_url":"https://api.github.com/users/beck03076/followers","following_url":"https://api.github.com/users/beck03076/following{/other_user}","gists_url":"https://api.github.com/users/beck[...]
- request:
    method: get
    uri: https://api.github.com/user/4824665/repos?page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1480008275'
      E[...]
