---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/beck03076
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1479849545'
      Etag:
      - W/"4ed6a3d306d83794d5123d8e54eff66a"
      Last-Modified:
      - Sun, 09 Oct 2016 13:44:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"beck03076","id":4824665,"avatar_url":"https://avatars.githubusercontent.com/u/4824665?v=3","gravatar_id":"","url":"https://api.github.com/users/beck03076","html_url":"https://github.com/beck03076","followers_url":"https://api.github.com/users/beck03076/followers","following_url":"https://api.github.com/users/beck03076/following{/other_user}","gists_url":"https://api.github.com/users/beck03076/gists{/gist_id}","starred_url":"https://api.github.com/users/beck03076/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/beck03076/subscriptions","organizations_url":"https://api.github.com/users/beck03076/orgs","repos_url":"https://api.github.com/users/beck03076/repos","events_url":"https://api.github.com/users/beck03076/events{/privacy}","received_events_url":"https://api.github.com/users/beck03076/received_events","type":"User","site_admin":false,"name":"senthil
        kumar muthamizhan","company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":17,"public_gists":61,"followers":0,"following":3,"created_at":"2013-06-25T21:16:43Z","updated_at":"2016-10-09T13:44:07Z"}'
  recorded_at: Tue, 22 Nov 2016 20:21:59 GMT
recorded_with: VCR 3.0.3
