
.favorito-box {
  background-image: linear-gradient(#fbfbfb, #f8f8f8);
  border: 1px #eee solid;
  display: flex;
  max-width: 590px;
  border-radius: 3px;
  box-shadow: inset 0 1px #fff;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}

.favorito-image {
  height: 4rem;
  width: 4rem;
}

.favorito-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.favorito-content {
  padding-left: 0.5rem;
  flex: 1;
}

.favorito-head {
  display: flex;
  align-items: center;
}

.favorito-name {
  font-weight: bold;
}

.favorito-time {
  color: #ccc;
  font-size: 0.75rem;
  margin-left: auto;
}

.favorito-card {
  padding-top: 0.125rem;
}

.favorito-link {
  color: #4e739d;
  text-decoration: none;
}
