<!doctype html>
<html>
  <head>
    <title>Favorito</title>
    <link rel="stylesheet" href="/favorito.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="favorito-box">
      <div class="favorito-image">
        <img src="/horse.png" role="presentation">
      </div>

      <div class="favorito-content">
        <div class="favorito-head">
          <span class="favorito-name">horse_js</span>
          <span class="favorito-time">7 days</span>
        </div>

        <div class="favorito-card">
          as much as I want to be, I'm not <a href="#" class="favorito-link">@horse_js</a>
        </div>
      </div>
    </div>
  </body>
</html>
